# Práctica 2 - Perceptrón para clasificar Lirios
## Preparación de entorno
#### Importar librerías de códigoo

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import tensorflow.keras as keras
import matplotlib.pyplot as plt

from IPython.display import Image, display
from tensorflow.keras.preprocessing.image import ImageDataGenerator, array_to_img, img_to_array, load_img
from os import listdir

#### Definimos nuestras fuentes de datos

In [2]:
origen_labels = 'Training/monkey_labels.csv'
origen_validacion = 'Training/validation/validation/'
origen_entrenamiento = 'Training/training/training/'
origen_test = ''

#### Preparamos nuestros datos

In [3]:
#Cargamos el csv con lon nombres
monkey_labels= pd.read_csv(origen_labels)
display(monkey_labels)

,Label,Latin Name,Common Name,Train Images,Validation Images
0,n0,alouatta_palliata\t,mantled_howler,131,26
1,n1,erythrocebus_patas\t,patas_monkey,139,28
2,n2,cacajao_calvus\t,bald_uakari,137,27
3,n3,macaca_fuscata\t,japanese_macaque,152,30
4,n4,cebuella_pygmea\t,pygmy_marmoset,131,26
5,n5,cebus_capucinus\t,white_headed_capuchin,141,28
6,n6,mico_argentatus\t,silvery_marmoset,132,26
7,n7,saimiri_sciureus\t,common_squirrel_monkey,142,28
8,n8,aotus_nigriceps\t,black_headed_night_monkey,133,27
9,n9,trachypithecus_johnii,nilgiri_langur,132,26

In [4]:
#Nos quedamos con las columnas de los nombres de las carpetas y el nombre de los monos
monkey_labels = monkey_labels.drop(['  Latin Name           ',' Train Images ', ' Validation Images'], axis=1)
display(monkey_labels)

   Label   Common Name
0  n0      mantled_howler
1  n1      patas_monkey
2  n2      bald_uakari
3  n3      japanese_macaque
4  n4      pygmy_marmoset
5  n5      white_headed_capuchin
6  n6      silvery_marmoset
7  n7      common_squirrel_monkey
8  n8      black_headed_night_monkey
9  n9      nilgiri_langur

In [6]:
#Preparamos las imagenes  para procesarlas utilizando el preprocesado de imagenes de keras : ImageDataGenerator
tamaño_imagen = [200,200]

generador_datos_enternamiento = ImageDataGenerator(rescale=1./255)        # Normalizamos los datos
generador_datos_validacion = ImageDataGenerator(rescale=1./255)        # Normalizamos los datos

datos_enternamiento = generador_datos_enternamiento.flow_from_directory(  origen_entrenamiento, 
                                                            target_size=(tamaño_imagen[0], tamaño_imagen[0]),#Las pasamos todas a este tamaño
                                                            shuffle=True,#Las ordenamos aleatoriamente
                                                            class_mode="categorical")#Pasamos las clases a categorical

datos_validacion = generador_datos_validacion.flow_from_directory(  origen_validacion, #No randomizamos el conjunto de entrenamiento
                                                            target_size=(tamaño_imagen[0], tamaño_imagen[0]),
                                                            class_mode="categorical")

Found 1098 images belonging to 10 classes.
Found 272 images belonging to 10 classes.

In [7]:
len(datos_validacion)

9

## Definición del modelo

In [8]:
#Variables que utilizaremos:
learning_rate = 0.05
decay = 0.000095 
epoch= 75
numero_neuronas= [30,30]

In [9]:
#Deifino el optimizador
adam = keras.optimizers.Adam(lr=learning_rate, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=decay)